.container{
  margin-top: 120px;
}

#boy{
  content:url("https://mu.etranscript.in/api/register/father.png");
  height:auto;
  max-width: 30%;
  margin-left: 140px;
}

#girl{
  content:url("https://mu.etranscript.in/api/register/mother.png");
  height:auto;
  max-width: 30%;
  margin-left: 140px;
}

#Transgender{
  content:url("https://mu.etranscript.in/api/register/mother.png");
  height:auto;
  max-width: 40%;
  margin-left: 100px;
}

mat-icon {
  position: absolute;
}

i{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
}
